<?xml version="1.0" encoding="UTF-8"?>
<SystemProperties>
  <SystemName>VirtualController1</SystemName>
  <SerialNo>VIRTUAL_CONTROLLER</SerialNo>
  <UsedMedia>
    <Media path="C:/Users/rm4742/AppData/Local/ABB/RobotWare/RobotOS_4.1.0" name="RobotOS" version="4.1.0+0" versionName="4.1.0"/>
    <Media path="C:/Users/rm4742/AppData/Local/ABB/RobotWare/RobotControl_7.5.1" name="RobotControl" version="7.5.1+162" versionName="7.5.1"/>
    <Media path="C:/Users/rm4742/AppData/Local/ABB/RobotWare/FlexPendant/Apps_1.7.1" name="FlexPendantSoftwareUpdate" version="1.7.1+0" versionName="1.7.1"/>
    <Media path="C:/Users/rm4742/AppData/Local/ABB/RobotWare/Robots_1.5.0" name="Robots" version="1.5.0+28" versionName="1.5.0"/>
  </UsedMedia>
  <ControlModule>
    <Option descr="RobotControl Base"/>
    <Option descr="English"/>
    <Option descr="3120-1 FlexPendant Limited App Package"/>
    <Option descr="3120-2 FlexPendant Essential App Package"/>
    <Option descr="3151-1 FlexPendant Program Package"/>
  </ControlModule>
  <DriveModule>
    <Name>Robot1</Name>
    <Option descr="Motor Commutation"/>
    <Option descr="Service Info System"/>
    <Option descr="E10"/>
    <Option descr="Axis Calibration"/>
  </DriveModule>
  <AdditionalOption>
    <Name>FlexPendantSoftwareUpdate</Name>
  </AdditionalOption>
  <AdditionalOption>
    <Name>Robots</Name>
    <Option descr="Robots Base"/>
    <Option descr="IRB 1200-5/0.9 Type B"/>
  </AdditionalOption>
</SystemProperties>
